<form (submit)="onSubmit()" [formGroup]="form">
  <label> Username :
    <input formControlName="username" [class.invalid]="isInvalid('username')" type="text" name="username">
    <p class="error" *ngIf="hasError('username','required')">Le nom d'utilisateur est requis</p>
  </label>
  <label> Email :
    <input formControlName="email" [class.invalid]="isInvalid('email')" type="email" name="email">
    <p class="error" *ngIf="hasError('email','required')">L'adresse mail est requise</p>
    <p class="error" *ngIf="hasError('email','email')">Le format email n'est pas respecté</p>
  </label>
  <label> Password :
    <input formControlName="password" [class.invalid]="isInvalid('password')" type="password" name="password">
    <p class="error" *ngIf="hasError('password','required')">Le mot de passe est requis</p>
    <p class="error" *ngIf="hasError('password','minlength')">Le mot de passe doit faire au minimum 8 caractères</p>
  </label>
  <input [disabled]="form.invalid" type="submit" class="button" value="Connexion">
</form>
