<form (submit)="onSubmit()" [formGroup]="form">
  <label> Titre :
    <input formControlName="titre" [class.invalid]="isInvalid('titre')" type="text" name="titre">
    <p class="error" *ngIf="hasError('titre','required')">Le titre est requis</p>
  </label>
  <label> Image Src :
    <input formControlName="src" type="text" name="src">
  </label>
  <label> Image Alt :
    <input formControlName="alt" [class.invalid]="isInvalid('alt')" type="text" name="alt">
    <p class="error" *ngIf="hasError('alt','required')">Le texte alternatif est requis</p>
  </label>
  <label> Lien :
    <input formControlName="lien" [class.invalid]="isInvalid('lien')" type="text" name="lien">
    <p class="error" *ngIf="hasError('lien','required')">Le lien est requis</p>
  </label>
  <label> Description :
    <textarea formControlName="description" [class.invalid]="isInvalid('description')" name="description"></textarea>
    <p class="error" *ngIf="hasError('description','required')">La description est requise</p>
  </label>
  <input [disabled]="form.invalid" type="submit" class="button" value="Enregister">
</form>
