<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
<!--      <app-header title="{{parentTitle}}" author="ADEKALOM Yanis"></app-header>-->
      <app-header [title]="parentTitle" author="ADEKALOM Yanis"></app-header>
      <!-- router-outlet définis un emplacement pour qu'Angular place un composant selon le RouterModule-->
      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- Sidebar ($event représente la valeur transmise par l'emit(valeur))-->
  <app-sidebar (more)="moreReaction($event)"></app-sidebar>
</div>
